body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-widht: 100%;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 5px rgba(0, 1, 1, 0.19);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* header */

.main-navigation {
  position: relative;
  display: flex;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 10;
  transform: translateX(-50%);
}

.site-navigation {
  display: flex;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 15px 6%;
}

.site-navigation-item {
  width: 23%;
}

.site-navigation-item:nth-child(1),
.site-navigation-item:nth-child(2) {
  text-align: left
}

.site-navigation-item:nth-child(2) {
  margin-right: auto;
}

.site-navigation-item:nth-child(3),
.site-navigation-item:nth-child(4) {
  text-align: right;
}

.site-navigation-item .current {
  color: #766357;
}

.site-navigation-item a {
  color: #000000;
}

.site-navigation-item a:hover {
  color: #81b3d2;
}

.site-navigation-item a:active {
  color: #cacaca;
}



/* offer */

.main {}

.offer {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #969fa5;
  background-image: url("../img/bg.jpg");
  background-position: 0 22%;
  background-repeat: no-repeat;
  padding: 76px 0 80px;
}

.offer:before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 57px;
  background-image: url("../img/intro-mask.svg");
}



/* benefits */

.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
  padding-bottom: 54px;
}

.benefits-title {
  display: block;
  width: 37.5%;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #000000;
}

.benefits-desc {
  display: block;
  width: 41.5%;
}



/* reason */

.reason {}

.reason-basic {
  display: flex;
  justify-content: space-between;
  background-color: #81b3d2;
}

.reason-lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3333%;
  background-color: #81b3d2;
  color: #ffffff;
  padding: 46px 0 58px;
}

.reason-title {
  width: 37.8%;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 26px;
}

.reason-subtitle {
  margin-bottom: 21px;
}

.reason-desc {
  width: 77%;
}

.reason-img {
  width: 66.666%;
  background-image: url("../img/index-reason-bg.jpg");
  background-color: #d79071;
  background-position: 0 50%;
  background-repeat: no-repeat;
}

.reason-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 58px 0 82px;
}

.reason-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 33.333%;
}

.item-house::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 72px;
  height: 72px;
  margin-bottom: 70px;
  background-image: url("../img/icon-1.svg");
}

.reason-item-title {
  position: relative;
  padding-top: 100px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 22px;
}

.item-food::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 72px;
  height: 72px;
  margin-bottom: 66px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.item-souvenirs::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 72px;
  height: 76px;
  margin-bottom: 70px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.reason-item-desc {
  width: 76%;
}

.reason-basic-2 {
  display: flex;
  justify-content: space-between;
  background-color: #81b3d2;
}

.reason-img-2 {
  background-image: url("../img/index-reason-bg-1.jpg");
  background-color: #d79071;
  width: 66.666%;
  background-repeat: no-repeat;
}

.reason-others {
  background-color: #eeeeee;
  padding-top: 46px;
  padding-bottom: 58px;
}

.reason-others-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.reason-others-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 33.3333%;
}

.reason-others-item-title {
  width: 29%;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 27px;
}

.reason-others-item-subtitle {
  margin-bottom: 20px;
}

.reason-others-item-desc {
  width: 64.8%;
}

.reason-others-item-desc-2 {
  width: 66%;
}

.invitation {
  position: relative;
  padding-top: 55px;
}

.invitation-lead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invitation-title {
  font-size: 30px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 32px;
}

.invitation-desc {
  width: 436px;
  margin-bottom: 50px;
}

.button-calendar {
  width: 568px;
  padding: 30px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: #766357;
}

.button-calendar:link {
  background-color: #766357;
}

.button-calendar:hover {
  background-color: #604e43;
}

.button-calendar:active {
  color: #928a85;
  background-color: #503e33;
}

@keyframes bounce {
  0% {
    transform: translate(-50%, -50%);
  }

  70% {
    transform: translate(-50%, 1%);
  }

  90% {
    transform: translate(-50%, -2%);
  }

  100% {
    transform: translateY(-50%, 0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(-51%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-49%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(-51%);
  }
}

.invitation-modal {
  display: block;
  z-index: 3;
  background-color: #ffffff;
  color: #000000;
  position: absolute;
  width: 568px;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  padding-bottom: 55px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.invitation-modal-close {
  display: none;
  z-index: 3;
  background-color: #ffffff;
  color: #000000;
  position: absolute;
  width: 568px;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  padding-bottom: 55px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  animation: bounce 0.6s;
}

.invitation-modal-error {
  animation: shake 0.6s;
}

.invitation-form {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.invitation-form-item {
  display: flex;
  align-items: center;
  margin: 54px 54px 30px;
}

.departure {
  display: flex;
  margin-top: 30px;
}

.invitation-date {
  display: flex;
  align-items: center;
}

.invitation-date label {
  width: 95px;
  margin-right: 18px;
}

.invitation-date input {
  width: 346px;
  height: 38px;
  padding-left: 12px;
  padding-right: 30px;
  border: 0 outline: 0;
}

.button-invitation-calendar {
  margin-left: -30px;
  margin-top: 8px;
  background: transparent;
}

.button-invitation-calendar path {
  fill: #cacaca;
}

.button-invitation-calendar:hover path {
  fill: #000000;
}

.button-invitation-calendar:active path {
  fill: #81b3d2;
}

.invitation-guests {
  display: flex;
  justify-content: center;
}

.adult {
  display: flex;
}

.invitation-adult,
.invitation-child {
  display: flex;
  align-items: center;
}

.invitation-adult label {
  width: 70px;
  margin-right: 40px;
}

.invitation-child label {
  width: 39px;
  margin-left: 50px;
  margin-right: 25px;
}

.invitation-adult input,
.invitation-child input {
  display: block;
  width: 38px;
  height: 38px;
  color: #000000;
  background-color: #f2f2f2;
  text-align: center;
  border: none;
  outline: none;
}

.invitation-plus,
.invitation-minus {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
}

.button-invitation {
  width: 38px;
  height: 38px;
  outline: 0;
  border: none;
  background: #f2f2f2;
}

.invitation-less::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.invitation-more:before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 3px;
  height: 12px;
  background-color: #a9a9a9;
}

.invitation-more::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.invitation-less:hover::after,
.invitation-more:hover::after,
.invitation-more:hover::before {
  background-color: #000000;
}

.invitation-less:active::after,
.invitation-more:active::before,
.invitation-more:active::after {
  background-color: #81b3d2;
}

.invitation-date,
.invitation-adult,
.invitation-child {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.invitation-form-item input,
.invitation-guests input {
  display;
  inline-block;
  font: inherit;
  text-transform: uppercase;
  outline: none;
  border: none;
  color: #000000;
  background-color: #f2f2f2;
}

.invitation-form-item input:hover,
.invitation-guests input:hover {
  background-color: #ebebeb;
}

.invitation-form-item input:active,
.invitation-guests input:active {
  background-color: #ffffff;
  border: 0 outline: 0;
}

.invitation-form-item input:focus,
.invitation-guests input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.invitation-form-button {
  width: 462px;
  font-size: 21px;
  font-weight: 700;
  background-color: #81b3d2;
  margin-top: 54px;
  padding: 19px;
}

.invitation-form-button: {
  background-color: #81b3d2;
}

.invitation-form-button:hover {
  background-color: #669ec0;
}

.invitation-form-button:active {
  color: #94b9d2;
  background-color: #5496bd;
}



/* map */

.map {
  border: none;
}

.js-map {
  position: relative;
}

.map-img {
  position: absolute;
  top: 0;
}

.js-map iframe {
  position: relative;
  z-index: 2;
  padding-bottom: 100px;
}



/* footer */

.main-footer {
  display: flex;
  align-content: center;
  padding: 36px 0;
}

.footer-index {
  position: relative;
  display: flex;
  align-content: center;
  padding: 36px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 3;
  margin-top: -120px;
}

.footer-visit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.333%;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.333%;
  list-style: none;
}

.button-social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 46px;
  height: 48px;
  color: #ffffff;
  background-color: #81b3d2;
  margin: 0 3px;
}

.button-social:hover {
  background-color: #669ec0;
}

.button-social:active {
  background-color: #5496bd;
}

.button-social:active path {
  fill: #88b6d1
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.333%;
}

.copyright-desc {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin-right: 8px;
}

.footer-logo {
  width: 117px;
  height: 40px;
}

.footer-logo:hover path {
  fill: #81b3d2;
}

.footer-logo:active path {
  fill: #bfbdbe;
}



/* CATALOG */


/* filter */

.filter {
  color: #ffffff;
}

.form {
  background-color: #969fa5;
  background-image: url("../img/catalog-bg.jpg");
  padding: 27px 6% 22px
}

.filter-form {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.filter-form fieldset {
  border: none;
}

.grade {
  display: flex;
  justify-content: space-between;
  width: 37.7%;
}

.fieldset-option {
  text-align: left;
  border: none;
  outline: none;
}


.grade legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 21px;
  text-align: left;
  margin-left: -12px;
}

.filter-option {
  margin-bottom: 25px;
  padding-left: 28px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  text-align: left;
}

.filter-input+label::after {
  position: absolute;
  content: "";
  top: 50%;
  left: -38px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input:checked+label::after {
  background-image: url("../img/checkbox-on.svg");
}

.filter-input:focus+label {
  outline: 1px solid #ffffff;
}

.filter-form ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  line-height: 21px;
}

.filter-option:last-child {
  margin-bottom: 0;
}

.range {
  margin-right: -11px;
}

.range-fieldset {
  text-align: left;
  border: none;
}

.range-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  padding-bottom: 5px;
}

.price-controls {
  position: relative;
  width: 318px;
  height: 36px;
  font-size: 0;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 22px;
  background: #ffffff;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 34px;
  vertical-align: top;
  width: 155px;
  padding-left: 65px;
  cursor: pointer;
}

.price-controls .max-price {
  padding-left: 55px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 22px;
  background-image: url("../img/filter-button.svg");
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  cursor: pointer;
}

.range-toggle:hover {
  width: 22px;
  height: 24px;
  background-size: 100%;
  transform: translate(-1px, -1px);
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-button {
  display: block;
  margin-left: 86px;
  width: 135px;
  height: 35px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid;
}

.filter-button:hover,
.filter-button:active {
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border: none;
}

.sort {
  display: flex;
  align-items: center;
  text-align: left;
  background-color: #ffffff;
  color: #000000;
  padding: 30px 6%;
  border-bottom: 1px solid #e5e5e5;
}

.sort-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding-right: 47px;
}

.sort-select {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 40px;
}

.sort-list {
  display: flex;
  list-style: none;
  margin-right: auto;
}

.sort-item {
  margin-right: 34px;
}

.sort-item a {
  color: #cacaca;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  border: 0;
  border-bottom: 1px dotted #81b3d2;
}

.current a {
  color: #81b3d2;
  border: 0;
}

.sort-item a:hover {
  color: #81b3d2;
  border: 0;
  border-bottom: 1px dotted #81b3d2;
}

.sort-item a:active {
  color: #000000;
  border: 0;
}

.sort-switch {
  display: flex;
  width: 33px;
  background-color: #ffffff;
  border: 0;
}

.button-sort-switch-up,
.button-sort-switch-down {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 12px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.switch-up {
  position: relative;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: none;
}

.switch-down {
  position: relative;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: none;
}

.switch-up::after,
.switch-down::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #cacaca;
  background-color: transparent;
}

.switch-down::after {
  transform: rotate(180deg);
  margin-top: -6px;
}

.button-sort-switch.active:after {
  border-bottom: 12px solid #81b3d2;
}

.switch-up:hover::after,
.switch-down:hover::after {
  border-bottom: 12px solid #000000;
}

.switch-up:active::after,
.switch-down:active::after {
  border-bottom: 12px solid #81b3d2;
}

.catalog {
  text-align: left;
  background-color: #ffffff
}

.catalog-list {

  list-style: none;
  padding-left: 0;
}

.catalog-list li {
  display: flex;
  padding: 30px 6%;
  border-bottom: 1px solid #e5e5e5;
}

.catalog-item-img img {
  display: block;
}

.catalog-hotel-desc {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.brand {
  display: flex;
}

.pick {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #333333;
  margin-top: -4px;
  margin-bottom: 6px;
}

.pick a {
  color: #333333;
  text-align: center
}

.pick a:hover {
  color: #81b3d2;
}

.pick a:active {
  color: #e1e1e1;
}

.catalog-hotel-type {
  display: flex;
  flex-direction: column;
}

.catalog-hotel-type p {
  margin-bottom: 13px;
}

.catalog-hotel-price {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
}

.catalog-hotel-price p {
  margin-bottom: 13px;
}

.button-hotel-more {
  width: 110px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 3px 0;
}

.button-hotel-more:hover {
  background-color: #669ec0;
}

.button-hotel-more:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.button-reserve {
  width: 142px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
  padding: 3px 0;
}

.button-reserve:hover {
  background-color: #604e43;
}

.button-reserve:active {
  color: #928a85;
  background-color: #503e33;
}

.rate {
  min-width: 112px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  margin-left: auto;
}

.stars {
  height: 17px;
  margin-bottom: auto;
}

.stars-four {
  background-image: url("../img/star.svg");
  background-repeat: space no-repeat;
  width: 88px;
}

.stars-three {
  background-image: url("../img/star.svg");
  background-repeat: space no-repeat;
  width: 63px;
}

.stars-two {
  background-image: url("../img/star.svg");
  background-repeat: space no-repeat;
  width: 40px;
}

.rating {
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  text-align: center;
  padding: 4px 0;
}
